body {
  font-family: 'Voces', cursive;
}
h1, h3 {
  text-align: center;
}
form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
label {
  margin-top: 5rem;
  font-size: 18px;
}
.form-check label {
  margin-top: 0;
  font-size: 15px;
}
form button {
  margin-top: 3rem;
  margin-left: 38%;
}
#output {
  display: none;
  font-family: 'Coda', cursive;
  padding: 20px;
  margin-left: 35%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid #737373;
  box-shadow: 3px 4px 10px #4d4d4d;
  min-height: 315px;
  font-size: 15px;
}
#introduction {
  text-align: center;
  margin-top: 100px;
  font-family: 'Michroma', sans-serif;
  color: #a22a2a;
}
#introduction img {
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
#introduction span {
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-color: #a22a2a;
  cursor: pointer;
}
.container {
  display: none;
  box-shadow: 3px 4px 10px #4d4d4d;
  margin-top: 6rem;
  max-width: 1050px;
  padding: 30px;
  background-color: #fff;
}
.container span {
  text-transform: capitalize;
  font-size: 19px;
}
.form-check label {
  margin-top: 0;
  font-size: 15px;
}
